In [2]:
import pandas as pd
import os

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
os.listdir("./")

['.git',
 '.ipynb_checkpoints',
 'BOWDescriptions.csv',
 'GradientBoostedTrees Popularity.ipynb',
 'LogisticRegression Popularity.ipynb',
 'Models(Will).ipynb',
 'Prediction using textual data.ipynb',
 'Preprocessing Steam game description.ipynb',
 'preprocess_project.csv',
 'Project Preprocessing (1).ipynb',
 'Project Preprocessing.ipynb',
 'project_preprocess.csv',
 'RandomForest Popularity.ipynb',
 'Regression Models.ipynb',
 'steam.csv',
 'steam_description_data.csv',
 'TFIDFDescriptions.csv']

## Binning Steam owners

In [4]:
steamDescriptions=pd.read_csv("steam_description_data.csv")
steam=pd.read_csv("steam.csv")

In [5]:
steam.owners=steam.owners.astype("string")
owners=steam.owners.str.split("-")

result=[]
for i in range(len(owners)):
    low=int(owners[i][0])
    high=int(owners[i][1])
    result.append(high)

steam["Owners"]=result

steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price,Owners
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19,20000000
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99,10000000
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99,10000000
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99,10000000
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99,10000000

In [6]:
steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price,Owners
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19,20000000
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99,10000000
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99,10000000
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99,10000000
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99,10000000

In [7]:
steam["popularity"]=pd.cut(steam["Owners"],bins=[0,20000,100000,1000000, 5000000, 200000000 ], labels=["Low popularity","Obscure games","Quite Popular","Popular", "Main Stream"])
steam["popularity"].value_counts()

steam["popularity"].isna().value_counts()

False    27075
Name: popularity, dtype: int64

In [8]:
steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price,Owners,popularity
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19,20000000,Main Stream
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99,10000000,Main Stream
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99,10000000,Main Stream
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99,10000000,Main Stream
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99,10000000,Main Stream

In [9]:
steamDescriptions.columns

Index(['steam_appid', 'detailed_description', 'about_the_game',
       'short_description'],
      dtype='object')

## Convert text data using TFIDF

In [16]:
corpus=steamDescriptions["detailed_description"]

In [17]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\zhengy6\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
stopwords_english = stopwords.words('english')
stopwords_english.append("you")
stopwords_english.append("your")
def cleanText(data):
    p = re.compile(r'<.*?>')
    res=p.sub('', data)
    res=re.sub(r'[0-9]',"", res)
    res=re.sub(r'https?:\/\/[a-zA-Z0-9@:%._\+~#=\/\/]+', '', res)
    res=re.sub(r'_*', "", res)
    tokens=nltk.word_tokenize(res)
    tokens=[token.lower() for token in tokens if not token.lower() in stopwords_english]
    return " ".join(tokens)

In [19]:
# need to clean up html.
corpus=steamDescriptions["detailed_description"].apply(cleanText)
corpus.T

0        play world 's number online action game . enga...
1        one popular online action games time , team fo...
2        enlist intense brand axis vs. allied teamplay ...
3        enjoy fast-paced multiplayer gaming deathmatch...
4        return black mesa research facility one milita...
                               ...
27329    first indie game steam . played lot puzzle gam...
27330    ever lonely one could save complete self-destr...
27331    super star blast space based game challenging ...
27332    pursue snow-white deer enchanted forest discov...
27333    portal opened dark magic pouring ! close gatew...
Name: detailed_description, Length: 27334, dtype: object

In [20]:
corpus.T

0        play world 's number online action game . enga...
1        one popular online action games time , team fo...
2        enlist intense brand axis vs. allied teamplay ...
3        enjoy fast-paced multiplayer gaming deathmatch...
4        return black mesa research facility one milita...
                               ...
27329    first indie game steam . played lot puzzle gam...
27330    ever lonely one could save complete self-destr...
27331    super star blast space based game challenging ...
27332    pursue snow-white deer enchanted forest discov...
27333    portal opened dark magic pouring ! close gatew...
Name: detailed_description, Length: 27334, dtype: object

In [28]:

def convertTFIDF(corpus):
    vectorizer = TfidfVectorizer(stop_words='english', strip_accents="ascii", min_df=2, max_df=0.95)
    tv_matrix=vectorizer.fit_transform(corpus )
    description=pd.DataFrame(tv_matrix.toarray())
    vocab = vectorizer.get_feature_names_out()
    description.columns=vocab
    return description

In [29]:
description=convertTFIDF(corpus)

In [30]:
description.head()

,TM,aa,aaa,aaaaa,aac,aacom,aar,aardman,aardvark,aarklash,...,zur,zurich,zuul,zv,zwei,zx,zylons,zyorzia,zytron,zz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:

# bigram=convertTFIDF(corpus, n_gram=2)
# bigram.head()

##  Convert to number using bag of words

In [ ]:
def convertBOW(corpus):
    cv = CountVectorizer(min_df=2, max_df=0.95, strip_accents="ascii")
    cv_matrix = cv.fit_transform(corpus)
    # convert matrix to dataframe
    vocab = cv.get_feature_names_out()
    df=pd.DataFrame(cv_matrix.toarray())
    # add vocabulary names
    df.columns=vocab
    return df


corpus

In [ ]:
res=convertBOW(corpus)

In [139]:
res

,action,adventure,also,around,available,back,based,battle,become,best,...,unique,unlock,use,using,various,want,way,weapons,well,world
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27329,0,0,1,0,0,0,0,0,0,0,...,0,2,1,0,0,2,1,0,0,2
27330,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27331,0,0,0,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,1,0
27332,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
27333,0,0,1,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,1,0

In [1]:
bigrams=convertBOW(corpus,2)

NameError: name 'convertBOW' is not defined

In [140]:
description.to_csv("TFIDFDescriptions",index=False)

In [141]:
res.to_csv("BOWDescriptions", index=False)

In [142]:
from sklearn.linear_model import LinearRegression

In [143]:
y=steam.popularity

In [144]:
y.shape

(27075,)

In [145]:
res.shape

(27334, 111)

In [146]:
steamDescriptions.shape

(27334, 4)

In [147]:
# shape of the two dataset is inconsistent so need to merge them.
description["steam_appid"]=steamDescriptions["steam_appid"]
X=pd.merge(steam,description,left_on="appid", right_on="steam_appid")
print(X.columns)
X=X.iloc[:,20:-1]
X

Index(['appid', 'name', 'release_date', 'english', 'developer', 'publisher',
       'platforms', 'required_age', 'categories', 'genres',
       ...
       'war', 'way', 'weapon', 'weapons', 'win', 'work', 'world', 'worlds',
       'years', 'steam_appid'],
      dtype='object', length=296)

,abilities,ability,able,access,achievements_y,action,adventure,ai,allows,amp,...,want,war,way,weapon,weapons,win,work,world,worlds,years
0,0.000000,0.0,0.0,0.0,0.000000,0.173985,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.00000,0.0,0.000000,0.126321,0.000000,0.0
1,0.189909,0.0,0.0,0.0,0.000000,0.153505,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.15772,0.0,0.000000,0.000000,0.000000,0.0
2,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.29036,0.000000,0.0,0.00000,0.0,0.279334,0.000000,0.000000,0.0
3,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.00000,0.0,0.362623,0.000000,0.000000,0.0
4,0.000000,0.0,0.0,0.0,0.000000,0.342472,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,0.000000,0.0,0.0,0.0,0.128950,0.000000,0.000000,0.0,0.0,0.0,...,0.241630,0.00000,0.091268,0.0,0.00000,0.0,0.000000,0.153418,0.000000,0.0
27071,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.0
27072,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.0
27073,0.000000,0.0,0.0,0.0,0.139695,0.000000,0.116278,0.0,0.0,0.0,...,0.130882,0.00000,0.000000,0.0,0.00000,0.0,0.143012,0.000000,0.164768,0.0
27074,0.113835,0.0,0.0,0.0,0.224606,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.132460,0.0

In [161]:
#X=X.drop(columns=["appid", "name", "release_date", "english", "developer", "publisher", "platforms", "categories", "genres", ])
y=steam.popularity
y=pd.get_dummies(y)
y

       Low popularity  Obscure games  Quite Popular  Popular  Main Stream
0                   0              0              0        0            1
1                   0              0              0        0            1
2                   0              0              0        0            1
3                   0              0              0        0            1
4                   0              0              0        0            1
...               ...            ...            ...      ...          ...
27070               1              0              0        0            0
27071               1              0              0        0            0
27072               1              0              0        0            0
27073               1              0              0        0            0
27074               1              0              0        0            0

[27075 rows x 5 columns]

## See if TFIDF or BOW is better

In [190]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
K=np.arange(100)+1
knn = KNeighborsClassifier()
knnCV=GridSearchCV(knn, param_grid={"n_neighbors":K},return_train_score=True, n_jobs=-1 )

In [ ]:
knnCV.fit(X,y)

In [ ]:
knnCV.best_score_

0.8421791320406279

In [185]:
res["steam_appid"]=steamDescriptions["steam_appid"]
X=pd.merge(steam,res,left_on="appid", right_on="steam_appid")
X=X.iloc[:,20:-1]

In [186]:
kn.fit(X,y)

KNeighborsClassifier(n_neighbors=3)

In [188]:
kn.score(X,y)

0.7567497691597415

## Fit a model with preprocessed features in steam.csv and the preprocessed textual feature

In [170]:
steamP=pd.read_csv("project_preprocess.csv")

In [171]:
steamP.head()

,day_elapse,achievements,average_playtime,median_playtime,price,positive_percentage,english_0,english_1,required_age_0,required_age_3,...,Werewolves,Western,Word Game,World War I,World War II,Wrestling,Zombies,e-sports,popularity,positive_ratings
0,-7.584710,-0.128306,9.557829,0.072624,0.141186,1.110537,0,1,1,0,...,0,0,0,0,0,0,0,0,Main Stream,124534
1,-8.329745,-0.128306,0.069619,-0.035710,-0.265175,0.536451,0,1,1,0,...,0,0,0,0,0,0,0,0,Main Stream,3318
2,-6.414491,-0.128306,0.020358,-0.047606,-0.265175,0.775589,0,1,1,0,...,0,0,0,0,1,0,0,0,Main Stream,3416
3,-7.312387,-0.128306,0.059220,0.016120,-0.265175,0.480095,0,1,1,0,...,0,0,0,0,0,0,0,0,Main Stream,1273
4,-8.054853,-0.128306,0.259548,0.114258,-0.265175,0.999691,0,1,1,0,...,0,0,0,0,0,0,0,0,Main Stream,5250

In [174]:
steamP["positive_ratings"]=(steamP["positive_ratings"]-steamP["positive_ratings"].mean())/steamP["positive_ratings"].std()

In [178]:
steamP=steamP.drop("positive_ratings", axis=1)

In [180]:
y=steamP.popularity

In [181]:
X=steamP.drop("popularity", axis=1)

In [ ]:
lr=LinearRegressor()